<ion-view view-title="Chats" style="background-color:#4f5d73 !important;
  font-family: "Ubuntu-Italic", "Lucida Sans", helvetica, sans;">

  <ion-content class="padding">
  <section class="chats">

    <span ng-repeat="message in messages">
    	<div class="talk-bubble tri-right left-top" ng-if="message.from == toChatUser && message.to == currentUser.uid">
		  <div class="talktext from-me">
		    <p>{{message.message}}</p>
		  </div>
		</div>

		<div class="talk-bubble tri-right right-top" style="margin-left:30%;"  ng-if="message.from == currentUser.uid && message.to == toChatUser">
		  <div class="talktext">
		    <p>{{message.message}}</p>
		  </div>
		</div>

    </span>

  </section>
  <p style="color:white;" ng-if="typing == true">{{toChatUserEmail}} is typing...</p>
  </ion-content>

  <form name="sendMessageForm" ng-submit="sendMessage(data.message)" novalidate>
      <ion-footer-bar class="bar-stable item-input-inset message-footer" keyboard-attach>
          <label class="item-input-wrapper">
              <input id="msg-input" ng-change="updateTyping()" ng-model="data.message" class="input-message" type="text" placeholder="Message">
          </label>
          <div class="footer-btn-wrap">
            <button class="button button-icon icon ion-ios-paperplane footer-btn" type="submit"
                ng-disabled="!data.message || data.message === ''">
            </button>
          </div>
      </ion-footer-bar>
  </form>

</ion-view>